
.section-work {
    padding: 94px 0;
}

 .work-title {
     margin-top: 0;
     margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.work-item  {
    position: relative;
    width: calc((100% - 60px) / 3);
    height: 294px;
    &:not(:last-child) {
        margin-right: 30px;
    }
    
}

.work-list {
    display: flex;
}

.work-item-descr {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
}

.work-text {
    margin: 27px 82px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-title-color;
}